
.a2{
  float: right;
  height:6cm;
  width:60%;
  margin-top: 5cm;
}
body{
 background-repeat:repeat;
  background-attachment:scroll;
}

body{
  background-image:url("https://i.ytimg.com/vi/HPph35tdMP8/maxresdefault.jpg");
}
.a1{
float:left;
margin-top: 2cm;
font-size: 25px;
font-family: 'Shadows Into Light', cursive;
color: white;

}
.r{
  text-align: center;
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
  color: #ff0000;
  position: fixed;
  margin-left: 4cm;
}
.a3{
  float:left;
  margin-top: 2cm;
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
  color: white;
}
.a5{
  float: left;
  text-align: center;
  margin-top: 3cm;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
}
}
.a4{
  margin-top: 6cm;
}
.a7{
  margin-top: 1cm;

}
.a8{
  margin-top: 1cm;
}
.a6{
  margin-top: 1cm;
  height: 10cm;

}
.t{
  width:100%;
  margin-top: 1cm;
  height: 800;
}
.a5{
  margin-top: 1cm;
  color:white;
}
.a9{
  margin-bottom: 1cm;
}
