body{
  background-image: url("http://amxxcs.ru/download/plain-blue-background-wallpaper-GbwKH1d");
  background-repeat:repeat;
}
.a3{
  position: relative;
  top: 2cm;
  right:6cm;
  width:1400px;
}
.r{
  font-family: 'Oleo Script', cursive;
  font-size: 3cm;
  text-align: right;
   position: fixed;
  margin-left: 7cm;
}
.a1{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-top: 3cm;
}
.a2{
  float:left;
  height:7cm;
  margin-top: 6cm;
}
.a4{
  position: absolute;
   top: 4cm;
   left: 10px;
   width:50%;
   height:7cm;
   margin-left: 0;
   bottom:2cm;
}
.caption{
  position: absolute;
   bottom: 0;
   left: 70%;
   font-size: 1.5cm;
   margin-top: 5cm;
   margin-right: 9cm;
   font-family: 'Yellowtail', cursive;
   color: black;
}
.a8{
  margin-top: 2cm;
  height:7cm;
  width:20%;
}
.u{
  font-size: 1cm;
  text-align: center;
  height:1cm;
  margin-left: 2cm;
  margin-top: 1.5cm;
}
.a9{
  height:800;
  margin-top: 1cm;
}
.circular{
  border-radius: 1cm;
  margin-top: 1cm;
}
